@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}
@font-face {
  font-family: "Plaak";
  src: url("typefaces/Plaak-25Light.otf");
}

#website {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
  font-family: "GT";
}
h2 {
  font-size: 24px;
  font-family: "GoodSans";
  color: #474747;
}
h3 {
  font-size: 22px;
  font-family: "Plaak";
  min-width: 150px;
  color: #474747;
}
h4 {
  font-size: 18px;
  font-family: "BasisGrotesk";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
p,
li,
th {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 30px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

#titleArea {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;
  /* margin-bottom: 8%; */
}

.section {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 10px;
  margin-bottom: 10px;
}

a:link {
  color: #313131;
  text-decoration: none;
}
a:hover {
  color: #e7436d;
  text-decoration: underline;
}

#conclusion {
  margin-bottom: 12%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;
  min-width: 325px;
}

.david {
  color: #c44536;
}

.vanessa {
  color: #077187;
}

.class {
  color: #74a57f;
}

img {
  width: 98%;
  margin-left: 2%;
}

.hor-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

.group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
