@font-face {
  font-family: "BasisGrotesk";
  src: url("typefaces/BasisGrotesquePro-Light 2.otf");
}
@font-face {
  font-family: "GT";
  src: url("typefaces/GT-Walsheim-Pro-Light.otf");
}
@font-face {
  font-family: "MonumentGrotesk";
  src: url("typefaces/monument-grotesk-regular.otf");
}
@font-face {
  font-family: "GoodSans";
  src: url("typefaces/GoodSans-Thin.otf");
}
@font-face {
  font-family: "Plaak";
  src: url("typefaces/Plaak-25Light.otf");
}

#website {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 44px;
  font-family: "GT";
}
h2 {
  font-size: 24px;
  font-family: "GoodSans";
  color: #474747;
}
h3 {
  font-size: 22px;
  font-family: "Plaak";
  min-width: 150px;
  color: #474747;
}
h4 {
  font-size: 18px;
  font-family: "BasisGrotesk";
  min-width: 150px;
  color: #474747;
}
h5 {
  font-size: 20px;
  font-family: "MonumentGrotesk";
}
p,
li,
th, button {
  font-size: 18px;
  font-family: "BasisGrotesk";
  line-height: 30px;
}
li:not(:last-child) {
  margin-bottom: 10px;
}

#titleArea {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;
  /* margin-bottom: 8%; */
}

.section {
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 4%;
}
.h3-section {
  margin-top: 6%;
}

a:link {
  color: #313131;
  text-decoration: underline;
}
a:hover {
  color: #e7436d;
  text-decoration: underline;
}

#overview-section{
  display: flex;
  gap: 10%;
}
#tools{
  width: 25%;
  min-width: 230px;
}
.overview-text{
  margin-bottom: 0px;
  margin-top: 15px;
}

#reflection {
  margin-bottom: 12%;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 8%;
  min-width: 325px;
}

.david {
  color: #c44536;
}

.vanessa {
  color: #077187;
}

.class {
  color: #74a57f;
}

#sketches{
  display: flex;
  gap: 5%;
}
#sketch-writing{
  width: 45%;
}
#carousel-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  width: 55%;
}
.carousel-container {
  width: 100%;
  height: 100%; /* Adjust height as needed */
  overflow: hidden;
  position: relative;
}
.carousel-item {
  width: 100%;
  height: 100%;
  display: none;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#button-section{
  margin-top: 10px;
  display: flex;
  gap: 15px;
}
.button {
  background-color: rgb(228, 228, 228);
  border: none;
  width:80px;
  height: 30px;
  border-radius: 10px;
}
.button:hover {
  background-color: rgb(243, 243, 243);
  border: #313131;
}

.hor-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
.hor-section img {
  width: 80%;
  margin-right: 2%;
}
.lowfiSec{
  width: 100%;
}
.lofiFinal{
  width: 55%;
  max-width: 1000px;
}
.lofiFlow{
  width: 115%;
  max-width: 1000px;
}
#style-guide-sec{
  display: flex;
  gap: 8%;
}
.styleGuide{
  width: 100%;
}
#style-guide-text{
  width: 55%;
}
#style-guide-images{
  min-width: 250px;
  width: 45%;
}
#type-guide{
  border-radius: 15px 15px 0px 0px;
}
#color-guide{
  border-radius: 0px 0px 15px 15px;
}
.group {
  display: flex;
  flex-direction: column;
  width: 50%;
}
video {
  width: 70%;
  min-width: 250px;
  border-radius: 15px;
}
.highfiImg{
  width: 70%;
  border-radius: 15px;
}
#reflection-sec{
  display: flex;
  gap: 5%;
  justify-content: space-between;
}
#group-pic-sec{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* width: 50%; */

}
#group-pic{
  width: 100%;
  border-radius: 15px;
  height: fit-content;
}
